.container{
  margin-top: 10%;
  width: 40%;
  margin-bottom: 10%;
}

h3{
  font-size: 30px;
  margin-bottom: 5%;
  margin-top: 1%;
  width: 50%;
}

button{
  margin-top: 20px;
  display: block;
  margin-right: auto;
}

.go-to-login{
  margin-bottom: 10px;
}
