.name{
  margin-top: 25px;
  flex-direction: row;
}

.email-and-phone{
  margin-top: 30px;
}

button{
  display: block;
  margin: 30px auto 0px auto;
}

@media (max-width: 1000px){
  .name{
    flex-direction: column;
  }
}

