
<section class="container mt-5"
         [ngClass]="{'vh': (activeTab === 0 && burgers.length === 0) || (activeTab === 1 && fries.length === 0) || (activeTab === 2 && sauces.length === 0)}">

  <section class="d-flex gap-3">

    <button pButton pRipple type="button"
            icon="pi pi-arrow-left"
            class="p-button-text p-button-rounded p-button-secondary"
            routerLink="/mainPage"
    ></button>
    <h3 class="d-flex align-items-center" style="margin: 0;">Preferințele mele</h3>
  </section>

  <p-tabView (onChange)="onTabChange($event)">
    <p-tabPanel header="Burgeri">

      <p-multiSelect [options]="ingredientsBurgers"
                     [(ngModel)]="selectedBurgerIngredient"
                     defaultLabel="Alege ingrendientele pe care vrei să le conțină burgerul tău"
                     optionLabel="name"
                     optionValue="name"
                     display="chip"
                     [style]="{'width': '100%'}"
                     (onChange)="filterBurgers()"
      ></p-multiSelect>
      <p class="text-muted">(*Se vor afișa toate produsele care conțin cel puțin un ingredient din cele selectate de către tine)</p>

      <div *ngIf="burgers.length > 0" class="container container-product">
        <div class="burger-item d-flex justify-content-center"
             *ngFor="let burger of burgers"
             [burger]="burger"
        ></div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Cartofi">

      <p-multiSelect [options]="ingredientsFries"
                     [(ngModel)]="selectedFriesIngredient"
                     defaultLabel="Alege ingrendientele pe care vrei să le conțină cartofii tăi"
                     optionLabel="name"
                     optionValue="name"
                     display="chip"
                     (onChange)="filterFries()"
                     [style]="{'width': '100%'}"
      ></p-multiSelect>

      <p class="text-muted">(*Se vor afișa toate produsele care conțin cel putțn un ingredient din cele selectate de către tine)</p>

      <div *ngIf="fries.length > 0" class="container container-product">
        <div class="fries-item d-flex justify-content-center"
             *ngFor="let fries of fries"
             [fries]="fries"
        ></div>
      </div>

    </p-tabPanel>
    <p-tabPanel header="Sosuri">

      <p-multiSelect [options]="ingredientsSauces"
                     [(ngModel)]="selectedSauceIngredient"
                     defaultLabel="Alege ingrendientele pe care vrei să le conțină sosul tău"
                     optionLabel="name"
                     optionValue="name"
                     display="chip"
                     (onChange)="filterSauces()"
                     [style]="{'width': '100%'}"
      ></p-multiSelect>

      <p class="text-muted">(*Se vor afișa toate produsele care conțin cel puțin un ingredient din cele selectate de către tine)</p>

      <div *ngIf="sauces.length > 0" class="container container-product">
        <div class="sauce-item d-flex justify-content-center"
             *ngFor="let sauce of sauces"
             [sauce]="sauce"
        ></div>
      </div>

    </p-tabPanel>

  </p-tabView>


</section>

