
<form [formGroup]="form">

  <div class="row gy-4">

    <div class="col-12">
      <h6>Numărul cardului:</h6>
      <p-inputMask mask="9999-9999-9999-9999"
                   placeholder="1234-9999-2399-2323"
                   formControlName="cardNumber"
                   [style]="{'width':'100%'}"
      ></p-inputMask>
      <div *ngIf="form.get('cardNumber')?.invalid && form.get('cardNumber')?.dirty">
        <small *ngIf="form.get('cardNumber')?.hasError('required')" class="p-error">Numărul cardului este obligatoriu</small>
        <small *ngIf="form.get('cardNumber')?.hasError('pattern')" class="p-error">Numărul cardului este invalid</small>
      </div>
    </div>

    <div class="col-12">
      <div class="col-12">
        <h6>Nume detinator card:</h6>
        <input id="float-input"
               type="text" pInputText placeholder="Liviu Dragnea"
               [style]="{'width':'100%'}"
               formControlName="cardHolderName">
        <div *ngIf="form.get('cardHolderName')?.invalid && form.get('cardHolderName')?.dirty">
          <small *ngIf="form.get('cardHolderName')?.hasError('required')" class="p-error">Numele deținătorului de card este obligatoriu</small>
          <small *ngIf="form.get('cardHolderName')?.hasError('pattern')" class="p-error">Numele deținătorului de card este invalid</small>
        </div>
      </div>
    </div>

    <div class="col-12 col-xl-6">
      <h6>Data expirării:</h6>

      <section class="d-flex flex-row gap-1">
        <p-dropdown formControlName="expiryMonth"
                    optionValue="value" optionLabel="name"
                    placeholder="Luna"
                    [options]="months"
                    [(ngModel)]="monthSelected"
                    [showClear]="true"></p-dropdown>

        <p-dropdown formControlName="expiryYear"
                    optionValue="value" optionLabel="value"
                    placeholder="Anul"
                    [options]="years"
                    [(ngModel)]="yearSelected"
                    [showClear]="true"></p-dropdown>
      </section>
      <div *ngIf="(form.get('expiryMonth')?.invalid && form.get('expiryMonth')?.dirty) ||
            (form.get('expiryYear')?.invalid && form.get('expiryYear')?.dirty)">
        <small *ngIf="(form.get('expiryMonth')?.hasError('required')) ||
                (form.get('expiryYear')?.hasError('required'))" class="p-error">Selectarea datei de expirare este obligatorie</small>
      </div>
      <small *ngIf="form.hasError('expiredDate')" class="p-error">Data este invalidă</small>

    </div>

    <div class="col-12 col-xl-6">

      <section class="d-flex gap-4">
        <h6>Cod securitate:</h6>

        <i class="pi pi-question-circle" style="font-size: 1rem"
           tooltipPosition="top" pTooltip="Codul de securitate din 3 cifre (in zona cu semnatura dumneavoastra)"></i>
      </section>
      <input id="securityCode"
             type="text"
             pInputText
             formControlName="securityCode"
             placeholder="CVV/CVV2">
      <div *ngIf="form.get('securityCode')?.invalid && form.get('securityCode')?.dirty">
        <small *ngIf="form.get('securityCode')?.hasError('required')" class="p-error">Codul de securitate este obligatoriu</small>
        <small *ngIf="form.get('securityCode')?.hasError('pattern')" class="p-error">Codul de securitate este invalid</small>
      </div>
    </div>

    <div class="field-checkbox d-flex gap-2 col-lg-6 align-items-center" style="margin-top: 3%;">
      <p-checkbox formControlName="isDefault"
                  [binary]="true" inputId="binary"></p-checkbox>
      <label>Setează card implicit</label>
    </div>

    <div class="d-flex flex-column col-lg-6">
      <h6>Carduri acceptate:</h6>
      <img src="./assets/Cards/multicard.png.jpg" style="width: 200px;">
    </div>

  </div>

  <p-divider></p-divider>

  <button
          pButton pRipple label="Salvează"
          class="p-button-danger"
          [disabled]="form.invalid || !form.dirty"
          (click)="addCard()"
  ></button>
</form>

<p-toast position="top-left"></p-toast>
