
<section class="container vh" style="margin-top: 100px;">

  <div class="d-flex justify-content-center align-items-center">
    <p-card [style]="{'width': '22rem', 'margin-bottom': '2em'}" role="button" routerLink="handleOrders">
      <h3 style="text-align: center; margin: 0px;">Manipularea comenzilor</h3>

      <section class="d-flex justify-content-center mt-4">
        <i class="pi pi-book" style="font-size: 2rem"></i>
      </section>
    </p-card>
  </div>


  <div class="d-flex justify-content-center align-items-center">
    <p-card [style]="{'width': '22rem', 'margin-bottom': '2em'}" role="button" routerLink="statistics">
      <h3 style="text-align: center; margin: 0px;">Statistici produse vândute</h3>

      <section class="d-flex justify-content-center mt-4">
        <i class="pi pi-chart-bar" style="font-size: 2rem"></i>
      </section>
    </p-card>
  </div>


</section>
