img {
  width: 75px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-right: 1rem;
}

.address-list-detail {
  flex: 1 1 0;
  padding-left: 10px;
}

.address-list-action {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.address-category-icon {
  vertical-align: middle;
  margin-right: .5rem;
}

.edit-address-button{
  vertical-align: middle;
  margin-right: .5rem;
}

.address-category {
  vertical-align: middle;
  line-height: 1;
}

@media screen and (max-width: 576px) {
  .address-item {
    flex-wrap: wrap;
  }

  .image-container {
    width: 100%;
    text-align: center;
  }

  img {
    margin: 0 0 1rem 0;
    width: 100px;
  }
}
