
  <div class="image-container">
    <button pButton pRipple type="button"
            icon="pi pi-check" class="p-button-rounded"
            (click)="makeMainAddress()" [ngClass]="favoriteColor"
            pTooltip="{{tooltipMessage}}" tooltipPosition="top"></button>
  </div>

  <div class="address-list-detail">
      <h5 class="mb-2">{{address.street}}</h5>
      <i class="pi pi-building address-category-icon"></i>
      <span class="address-category">{{address.cityName}}</span>
  </div>

  <div *ngIf="!isAPlacedOrder" class="address-list-action">
      <button pButton pRipple type="button"
              icon="pi pi-pencil"
              class="p-button-rounded p-button-secondary edit-address-button"
              (click)="openUpdateAddressForm()"></button>

      <button pButton pRipple type="button"
              icon="pi pi-trash"
              class="p-button-rounded p-button-danger p-button-outlined edit-address-button"
              (click)="deleteAddress()"
      ></button>
  </div>

  <div *ngIf="isAPlacedOrder" class="address-list-action">
    <button pButton pRipple type="button"
            icon="pi pi-eject"
            class="p-button-rounded p-button-warning edit-address-button"
            pTooltip="Selectează ca adresă pentru livrarea curentă" tooltipPosition="top"
            (click)="selectAddressToPlaceOrder()"></button>
  </div>


<!--<p-confirmDialog [key]="'delAddress'" icon="pi pi-exclamation-triangle"></p-confirmDialog>-->
