
<div class="container border d-flex flex-column" [ngStyle]="{backgroundColor:'var(--primary-100)'}">

  <h3 class="badge text-bg-danger">BurgerShop</h3>

  <form [formGroup]="form">

    <div class="d-flex flex-column gap-4">
      <section>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">Email</span>
          <input type="text" pInputText formControlName="email">
        </div>
        <div *ngIf="form.get('email')!.invalid && form.get('email')!.dirty" style="margin: 0px">
          <small *ngIf="form.get('email')!.hasError('email')" class="p-error">Introdu o adresă de mail validă</small>
          <small *ngIf="form.get('email')!.hasError('required')" class="p-error">Mailul este obligatoriu</small>
        </div>
      </section>


      <section>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">Parola</span>
          <p-password formControlName="password"
                      [style]="{'width': '100%'}"
                      [toggleMask]="true"
                      [feedback]="false"></p-password>
        </div>
        <div *ngIf="form.get('password')!.invalid && form.get('password')!.dirty" style="margin: 0px">
          <small *ngIf="form.get('password')!.hasError('minlength')" class="p-error">Parola trebuie să conțină minim 6 caractere</small>
          <small *ngIf="form.get('password')!.hasError('required')" class="p-error">Parola este obligatorie</small>
        </div>
      </section>

    </div>

    <button pButton pRipple type="button" label="Intră în cont"
            class="p-button-raised p-button-danger"
            [disabled]="form.invalid || !form.dirty"
            (click)="login()"></button>

    <button pButton pRipple type="button" label="Crează cont nou"
            class="p-button-raised p-button-secondary go-to-register"
            (click)="goToRegister()"></button>
  </form>

</div>

<p-toast position="bottom-center"></p-toast>
