<form [formGroup]="form">

  <div class="mt-3">
    <h5>Parola curentă</h5>
    <p-password formControlName="actualPassword"
                [toggleMask]="true"
                [feedback]="false"></p-password>

    <div *ngIf="form.get('actualPassword')!.invalid && form.get('actualPassword')!.dirty" style="margin: 0px">
      <small *ngIf="form.get('actualPassword')!.hasError('minlength')" class="p-error">Parola trebuie să conțină cel puțin o literă mică, o literă mare, o cifră și să aibă minim 6 caractere</small>
      <small *ngIf="form.get('actualPassword')!.hasError('required')" class="p-error">Parola este obligatorie</small>
    </div>
  </div>

  <div class="mt-5">
    <h5>Parola nouă</h5>
    <p-password formControlName="newPassword"
                [toggleMask]="true"
                [weakLabel]="'Slabă'"
                [mediumLabel]="'Medie'"
                [strongLabel]="'Puternică'"
                [promptLabel]="'Introduce-ți o parolă'">
      <ng-template pTemplate="header">
        <h6>Alege o parolă</h6>
      </ng-template>
      <ng-template pTemplate="footer">
        <p-divider></p-divider>
        <p class="mt-2">Obligatoriu</p>
        <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
          <li>Cel puțin o literă mică</li>
          <li>Cel puțin o literă mare</li>
          <li>Cel puțin o cifră</li>
          <li>Minimum 6 caractere</li>
        </ul>
      </ng-template>
    </p-password>
  </div>


  <article class="article-button-cancel">
    <button pButton pRipple
            type="button"
            label="Anulează"
            (click)="cancelUpdatePassword()"
            class="p-button-secondary"></button>
  </article>

  <article class="article-button-change">
    <button pButton pRipple
            type="button"
            label="Schimbă parola"
            [disabled]="form.invalid || !form.dirty"
            (click)="changePassword()"
            class="p-button-danger"></button>
  </article>
</form>





