
.article-button-cancel{
  float: left;
  margin-top: 100px;
}

.article-button-change{
  float: right;
  margin-top: 100px;
}

@media screen and (max-width: 1086px){

  .article-button-cancel, .article-button-change{
    float: none;
  }

  .article-button-change{
    margin-top: 10px;
  }
}
