.div1, .div2{
  width: 100%;
}

.p-card .p-card-content {
   padding: 0 !important;
}

p-card{
  width: 100%;
  margin-bottom: 2em;
  padding: 0;
}

#addressH4, #cardH4{
  margin: 0;
  margin-right: auto;
}

.addressSelected, .cardSelected{
  margin: 0;
}

.red-text{
  color: red;
}

.pi-map-marker, .pi-credit-card{
  font-size: 2em;
}

#labelComments{
  font-size: 15px;
}

#imgTips{
  width: 50px;
  height: 50px;
}

#tipsH5{
  margin: 0;
}

#totalProducts{
  margin: 0;
  margin-left: 10px;
}

#totalProductsValue{
  margin: 0;
  margin-right: 10px;
}

.transport{
  margin: 0;
}

#placeOrderButton{
  margin-left: auto;
  width: 193px;
}

.tips{
  display: flex !important;
  justify-content: space-around !important;
}

:host ::ng-deep p-card .p-card-content {
  width: 100%;
}

@media (max-width: 920px){
  .main{
    flex-direction: column;

  }
}
