<div class="container-xl mt-5">

  <h2>Plasează comanda</h2>

  <section class="main d-flex gap-2">

    <div class="div1 d-flex flex-column gap-2">

      <p-card>
        <section class="d-flex flex-row gap-3">
          <i class="pi pi-map-marker"></i>
          <h4 id="addressH4">Livrare la adresa: </h4>
          <button pButton pRipple type="button"
                  icon="pi pi-replay"
                  class="p-button-rounded p-button-warning"
                  tooltipPosition="top" pTooltip="Alege altă adresă"
                  (click)="selectAddress()"
          ></button>
        </section>
        <p class="addressSelected" *ngIf="hasSelectedAddress">{{toStringAddress}}</p>
        <p class="addressSelected red-text" *ngIf="!hasSelectedAddress">{{noAddressMessage}}</p>
      </p-card>

      <p-card>
        <section class="d-flex flex-row gap-3">
          <i class="pi pi-credit-card"></i>
          <h4 id="cardH4">Plată: </h4>
          <button pButton pRipple type="button"
                  icon="pi pi-replay"
                  class="p-button-rounded p-button-warning"
                  tooltipPosition="top" pTooltip="Alege alt card"
                  (click)="selectCard()"
          ></button>
        </section>

        <p class="cardSelected" *ngIf="hasSelectedCard">{{toStringCard}}</p>
        <p class="cardSelected red-text" *ngIf="!hasSelectedCard">{{noCardMessage}}</p>
      </p-card>


      <span class="p-float-label">
        <textarea [(ngModel)]="commentText" id="float-input" rows="5" cols="30" pInputTextarea></textarea>
        <label id="labelComments" for="float-input">Comentarii</label>
      </span>

      <p-card>
        <ng-template pTemplate="header">
          <div class="d-flex align-items-center gap-3">
            <img id="imgTips" src="./assets/delivery_guy.png">
            <h5 id="tipsH5">Tips pe bon? Alege o variantă:</h5>
          </div>

        </ng-template>
        <ng-template pTemplate="content">
          <div class=" tips ">
            <button pButton pRipple type="button" label="2 LEI" class="p-button-secondary"
                    [ngClass]="tip2" (click)="clickTipsButton2Lei()"></button>

            <button pButton pRipple type="button" label="4 LEI" class="p-button-secondary"
                    [ngClass]="tip4" (click)="clickTipsButton4Lei()"></button>

            <button pButton pRipple type="button" label="5 LEI" class="p-button-secondary"
                    [ngClass]="tip5" (click)="clickTipsButton5Lei()"></button>

            <button pButton pRipple type="button" label="Altă sumă" class="p-button-secondary"
                    [ngClass]="tipCustom" (click)="clickTipsButtonCustomeTip()"></button>
          </div>
        </ng-template>


      </p-card>


    </div>

    <div class="div2 d-flex flex-column gap-2">

      <p-accordion>
        <p-accordionTab header="Sumar ({{items.length}} produse)" [selected]="true">

          <app-cart-item *ngFor="let item of items"
                         [item] = "item"
                         (productEvent)="modifyCart($event)"
                         class="d-flex justify-content-center mb-3">
          </app-cart-item>

        </p-accordionTab>
      </p-accordion>

      <p-card>
        <ng-template pTemplate="header">
          <div class="d-flex justify-content-between gap-3">
            <h5 id="totalProducts">Total produse</h5>
            <h5 id="totalProductsValue">{{totalAmountProducts()}} lei</h5>
          </div>
        </ng-template>

        <div *ngIf="totalAmountProducts() < 100" class="d-flex flex-column">
          <div class="d-flex justify-content-between gap-3">
            <p class="transport">Taxă transport</p>
            <p class="transport">{{transportPrice}} lei</p>
          </div>
          <p>Fără taxă transport pentru comenzi peste 100 lei</p>
        </div>

          <div *ngIf="tipPrice > 0" class="d-flex justify-content-between gap-3">
            <p class="transport" style="margin: 0; ">Tips</p>
            <p class="transport">{{tipPrice}} lei</p>
          </div>

        <p-divider></p-divider>

        <div class="d-flex justify-content-between gap-3">
          <h3 class="transport">TOTAL</h3>
          <h3 class="transport">{{totalPrice}} lei</h3>
        </div>

      </p-card>

      <button id="placeOrderButton" pButton pRipple type="button" label="Trimite comanda"
              iconPos="right" icon="pi pi-arrow-right"
              [loading]="loading" (click)="load()"
              class="p-button-rounded p-button-danger"></button>

    </div>

  </section>




</div>

<p-toast key="notSelected" position="top-center"></p-toast>
