<app-header></app-header>
<router-outlet></router-outlet>
<app-loading-dialog></app-loading-dialog>
<app-footer></app-footer>
<p-toast position="bottom-center" key="loginSuccess"></p-toast>
<p-toast position="top-center" key="loginFailed"></p-toast>
<p-toast position="top-center" key="registerFailed"></p-toast>
<p-toast position="top-center" key="needToBeAuth"></p-toast>
<p-toast position="bottom-center" key="placedOrder"></p-toast>
<p-toast position="bottom-center" key="modifyStatusOrder"></p-toast>
<p-toast position="bottom-center" key="modifyUserInfo"></p-toast>
<p-toast position="top-center" key="modifyPassword"></p-toast>
<p-toast position="top-right" key="removeCartProduct"></p-toast>





