<article class="mb-0 container-fluid footer" [ngStyle]="{backgroundColor:'var(--primary-100)'}">

  <div class="row">
    <div class="col-md-4">
      <h3>Contact</h3>
      <p style="color: #5f5d70;"><i class="pi pi-inbox"></i>&nbsp;14 Strada Academiei</p>
      <p style="color: #5f5d70;"><i class="pi pi-phone"></i>&nbsp;+40 773 941 050</p>
      <p style="color: #5f5d70;"><i class="pi pi-share-alt"></i>&nbsp;cosminadrian@yahoo.com</p>
    </div>
    <div class="col-md-8">
      <h2>Burger Shop</h2>
      <p style="color: #5f5d70;">Descoperă deliciile noastre la restaurantul nostru specializat în burgeri suculenți, cartofi prăjiți crocanți, băuturi răcoritoare
        și sosuri aromate. Bucură-te de combinații unice de arome, ingrediente proaspete și o experiență culinară autentică.
        Oferim gustări irezistibile pentru toate preferințele tale. Vino și savurează!
    </div>
<!--    <div class="col-md-6">-->
<!--      <h2>NEWSLETTER</h2>-->
<!--      <div class="input-group mb-3">-->
<!--        <input type="text" class="form-control" placeholder="Your email address"-->
<!--               aria-describedby="button-addon2">-->
<!--        <button class="btn btn-danger" type="button" id="button-addon2">Sign Up</button>-->
<!--      </div>-->
<!--    </div>-->
  </div>

<!--  <div class="row">-->
<!--    <div class="col-md-6">-->
<!--      <h3>Contact</h3>-->
<!--      <p style="color: #5f5d70;"><i class="pi pi-inbox"></i>&nbsp;14 Strada Academiei</p>-->
<!--      <p style="color: #5f5d70;"><i class="pi pi-phone"></i>&nbsp;+40 773 941 050</p>-->
<!--      <p style="color: #5f5d70;"><i class="pi pi-share-alt"></i>&nbsp;cosminadrian@yahoo.com</p>-->
<!--    </div>-->

<!--    <div class="col-md-6">-->
<!--      <h3>Our food</h3>-->
<!--      <ul>-->
<!--        <li style="color: #5f5d70;">Double Cheeseburger</li>-->
<!--        <li style="color: #5f5d70;">Big Tasty</li>-->
<!--        <li style="color: #5f5d70;">Pies</li>-->
<!--        <li style="color: #5f5d70;">Juices</li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->

</article>
