<section class="nav nav-header" [ngStyle]="{backgroundColor:'var(--primary-100)'}">

  <img class="logo" role="button" style="" src="../../../../assets/logo.png" routerLink="/mainPage">


  <article class="d-flex align-items-center order-group">
    <button type="button" pButton icon="pi pi-cart-plus"
            label="Coșul meu"  [ngStyle]="{backgroundColor:'var(--primary-900)'}" (click)="openCart()" ></button>
  </article>

  <article *ngIf="loggedIn; else elseBlock" class="user-group">
    <button type="button" pButton icon="pi pi-user" label="{{accountButtonLabel}}"
            (click)="menu.toggle($event)"  [ngStyle]="{backgroundColor:'var(--primary-900)'}" style=""></button>
    <p-menu #menu [popup]="true" [model]="accountMenuItems"
            [style.display]="showMenu ? 'block' : 'none'"></p-menu>
  </article>

  <ng-template #elseBlock>
    <article class="user-group">
      <button type="button" pButton icon="pi pi-user" label="{{accountButtonLabel}}" [ngStyle]="{backgroundColor:'var(--primary-900)'}"
              (click)="op.toggle($event)"></button>
      <p-overlayPanel #op>
        <ng-template pTemplate>
          <p><strong>Intră în contul Burger Shop</strong></p>
          <p-divider></p-divider>
          <section style="display: flex; gap: 25px;">
            <button pButton pRipple type="button" label="Intră în cont"
                    class="p-button-danger p-button-sm"
                    routerLink="/login"></button>
            <button pButton pRipple type="button" label="Cont nou"
                    class="p-button-secondary p-button-text p-button-sm"
                    routerLink="/register"
            ></button>
          </section>
        </ng-template>
      </p-overlayPanel>
    </article>
  </ng-template>


</section>

<section class="nav nav-menu" [ngStyle]="{backgroundColor:'var(--bluegray-400)'}">

  <button pButton pRipple type="button"
          label="Burgeri" class="p-button-secondary"
          routerLink="/burgers" [ngStyle]="{backgroundColor:'var(--bluegray-800)'}"></button>

  <button pButton pRipple type="button"
          label="Cartofi" class="p-button-secondary"
          routerLink="/fries" [ngStyle]="{backgroundColor:'var(--bluegray-800)'}"></button>

  <button pButton pRipple type="button"
          label="Băuturi" class="p-button-secondary"
          routerLink="/drinks" [ngStyle]="{backgroundColor:'var(--bluegray-800)'}"></button>

  <button pButton pRipple type="button"
          label="Sosuri" class="p-button-secondary"
          routerLink="/sauces" [ngStyle]="{backgroundColor:'var(--bluegray-800)'}"></button>

</section>


<p-toast position="bottom-center"></p-toast>
