.edit-address-button{
  vertical-align: middle;
  font-size: 12px;
  padding: 4px 8px;
}

.cards{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
}

.title-h3{
  margin-top: 25px;
  text-align: center;
}
