


<p-card header={{drink.key}} [style]="{width: '360px'}" styleClass="p-card-shadow">
  <ng-template pTemplate="header">
    <img alt="Card" src="{{getImageUrl(drink.value[0].imageId)}}" style="width: 150px">
  </ng-template>
  <p>{{descriptionDrink}}</p>
  <ng-template pTemplate="footer">

<!--    <button pButton pRipple type="button"-->
<!--            icon="pi pi-heart" class="p-button-rounded"-->
<!--            (click)="addToFavorites()" [ngClass]="favoriteColor"-->
<!--            pTooltip="{{favoriteTooltipMessage}}" tooltipPosition="top"></button>-->

    <p-button label="De la {{drink.value[0].price}} lei" icon="pi pi-cart-plus"
              (click)="addCart()"
              badgeClass="p-badge-danger" styleClass="p-button-outlined p-button-secondary"
              [style]="{'margin-left': '10px'}" pTooltip="Adaugă în coș" tooltipPosition="top"></p-button>
  </ng-template>
</p-card>
<p-toast position="top-left"></p-toast>
